@charset "UTF-8";

* {
    /*height: 0px;
    width: 0px;*/
}

@font-face {
    font-family: 'Android' ;
    src: url('./fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0:#000000;
    --cor1:#52057B;
    --cor2:#892CDC;
    --cor3:#BC6FF1;
    --cor4:#fcd9ff;

    --fonte-android: 'Android', 'cursive';
}



body {
    margin: auto;
    background-color:var(--cor4);
}

header > h1 {
    font-family: var(--fonte-android);
    color: white;
    text-align: center;
    margin: 0px;
    text-shadow: 1px 3px 1px #52057B;
}

header {
    background-image:linear-gradient(to bottom, var(--cor3), var(--cor1));
    min-height: 160px;
    padding-top: 40px;
    box-shadow: 10px 10px 10px #0000005d;
    
}

header p {
    text-align: center;
    font-size: 2.5vw;/*ajuste da letra a tela*/
    color: white;
    margin-bottom: 4px;
    margin-top: 4px;
}

.destaque {
    font-size: 1.5vw;
}

nav > a {
    background-color: var(--cor1);
}

a.cabecalho{
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

a.cabecalho:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    background-color:var(--cor4);
    background-image: url('possivel\ fundo.webp');
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: bottom right;
    max-height: 900px;
    min-height: 500px;
    max-width: 900px;
    min-width: 400px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

#telefone {
    position: absolute;
    top: 80%;
    left: 31%;
    transform: translate(-50%, -50%);

    height: 327px;
    width: 160px;
    border-radius: 15px;
    background: url("./frame-iphone.png") no-repeat;
    background-size:  160px 327px ;
    background-color:var(--cor4);
}
iframe#tela {
    position: relative;
    top: 42px;
    left: 11px;
    width: 138px;
    height: 246px;
}

section#sociais {
    text-align: center;
    padding-top: 50px;
}

section#sociais img {
    width:40px;
    margin: 5px;
    border-radius: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.696);
}

section#sociais img:hover {
    border: 1px solid gray;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.704);
    transition: transform .3s;
}

footer {
    background-color: #892CDC;
    color: var(--cor4);
    text-align: center;
    font: arial, helvetica, sans-serif;
    font-style: italic;
    font-size: 18px;
    
}