body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2e9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#quiz-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

#options {
    list-style: none;
    padding: 0;
}

#options li {
    background: #e6d4ff;
    margin-top: 8px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
}

#options li:hover {
    background: #ceb5ff;
}

#result, #score {
    margin-top: 20px;
}

.hidden {
    display: none;
}

#quiz-container  {
    text-align: center;
    margin-top: 50px;  
    transition: 0.2s;
}

#voltar {
    background-color: purple;
    color: white;
    padding:10px;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

#voltar:hover, #linkvoltar:hover {
    background-color:  rgb(173, 1, 173);
    color: white;
    transition: 0.2s;
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px 5px purple;
}

#recarregar {
   height: 30px;
   width: 30px;
   border-radius: 50px;
   transition: transform 0.8s linear;
}

#recarregar:hover {
    transform: rotate(360deg);
}